.grid{
    display: grid;
    grid-template-areas: 
    'nav nav nav nav nav'
    'sidebar main main main aside'
    'sidebar main main main aside'
    'sidebar main main main aside'
    'footer footer footer footer footer';
}
nav{
    grid-area: nav;
}
.sidebar{
    grid-area: sidebar;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
  img{
      width: 1200px;
      height: 500px;
  }